<div class="container">
  <div class="row">
    <div class="col text-center">
      <!-- relative terhadap folder public -->
      <img
        src="img/profile.jpg"
        alt="niko profile"
        class="img-thumbnail rounded-circle"
        width="200px"
      />
      <h1 class="display-4">Nikola Arinanda</h1>
      <p class="lead">Lecturer | Content Creator</p>
    </div>
  </div>
</div>
